.jumbotron {
  color: #fff;
  background-color: #4ad04a;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 50px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.welcomeVideo {
  padding-bottom: 50px;
}
